services:
  backend:
    build: ./primetrade_backend   
    container_name: primetrade_backend
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./primetrade_backend/.env
    depends_on:
      - postgres
      - redis

  frontend:
    build: ./primetrade_frontend
    container_name: primetrade_frontend
    restart: always
    ports:
      - "8080:80"

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  pg_data:
